@model MVC5RealWorld.Models.ViewModel.UserLoginView

@{
    ViewData["Title"] = "LogIn";
}

<h1>LogIn</h1>

<h4>UserLoginView</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="LogIn" method="post" asp-route-returnurl="@ViewBag.ReturnUrl">

            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="LoginName" class="control-label">Nome do Usuario</label>
                <input asp-for="LoginName" class="form-control" />
                <span asp-validation-for="LoginName" class="text-danger"></span>
                @*@Html.ValidationMessageFor(O => O.LoginName, "", new { @class = "text-danger" })*@
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>

    </div>

    <div class="col-md-4">

        <form asp-route="login"
              asp-route-returnurl="@ViewBag.ReturnUrl"
              method="post"></form>

    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
