@model MVC5RealWorld.Models.ViewModel.UserSignUpView

@{
    ViewData["Title"] = "SignUp";
}

<h1>SignUp</h1>

<h4>UserSignUpView</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="SignUp" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*<div class="form-group">
                <label asp-for="LOOKUPRoleID" class="control-label"></label>
                <input asp-for="LOOKUPRoleID" class="form-control" />
                <span asp-validation-for="LOOKUPRoleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="LoginName" class="control-label"></label>
                <input asp-for="LoginName"  class="form-control" />
                <span asp-validation-for="LoginName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                @*<input asp-for="Gender" class="form-control" />*@
                @*<div class="col-md-10">
                    @Html.DropDownListFor(model => model.Gender, new List<SelectListItem>
                   {
                        new SelectListItem() { Text="Masculino", Value="M" },
                        new SelectListItem() { Text="Feminino", Value="F" }
                   }, new { @class = "form-control" })
                </div>*@
                <select asp-for="Gender">
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
